html {
  height: 100%;
}

body {
  height: 100%;
}


.tab-pane {
  height: 100%;
}

.dot {
   height: 15px;
   width: 15px;
   border-radius: 50%;
   display: inline-block;
}

.probe-container>.row {
  background-color: #ddd;
}

.probe-idx .dot {
  color: #fff;
  width: 36px;
  height: 36px;
  text-align: center;
  background-color: #000;
  font-size: 1.5em;
  line-height: 36px;
  user-select: none;
}

.probe-container:nth-child(1) .probe-idx .dot {
  background-color: #357bcc;
}
.probe-container:nth-child(2) .probe-idx .dot {
  background-color: #32a852;
}
.probe-container:nth-child(3) .probe-idx .dot {
  background-color: #d4872a;
}
.probe-container:nth-child(4) .probe-idx .dot {
  background-color: #bdb320;
}

.probe-temp {
  font-family: 'Digital-7';
  line-height: 1.2;
  text-align: center;
}

.probe-temp-current {
  font-size: 5em;
  line-height: 1;
}
@media (min-width: 768px) and (max-width: 992px) {
   .probe-temp-current {
      font-size: 3em;
   }
}

.probe-temp-target {
  font-size: 2em;
  font-style: italic;
}

.probe-settings {
  font-size: 36px;
  text-align: right;
}

.toggle {
  width: 150px !important;
}

/*
 * Battery Indicator
 */
#ibbq-battery::before {
  transform: rotate(270deg);
}

/*
 * Settings
 */
#settings label.btn {
   width: 10em;
}

/*
 * Bootstrap customizations
 */
.nav-tabs {
  border-bottom: none;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #000;
  font-weight: bold;
}

.nav-tabs .nav-link:hover {
  border-color: transparent;
}

/*
 * Toast messages
 */
.toast {
  background-color: #f0f0f0;
  --bs-toast-header-bg: none;
}
