html {
  height: 100%;
}

body {
  height: 100%;
}

#server-disconnected-banner {
  background-color: red;
  color: #fff;
  text-align: center;
  height: 0;
}
#server-disconnected-banner.show {
  height: auto;
}

.tab-pane {
  height: 100%;
}

.dot {
   height: 15px;
   width: 15px;
   border-radius: 50%;
   display: inline-block;
}

#ibbq-connection .dot {
  background-color: grey;  
}
#ibbq-connection #ibbq-connection-text::after {
  content: "Unknown";
  color: grey;
}

#ibbq-connection.connected .dot {
  background-color: green;
}
#ibbq-connection.connected #ibbq-connection-text::after {
  content: "Connected";
  color: green;
}

#ibbq-connection.disconnected .dot {
  background-color: red;
}
#ibbq-connection.disconnected #ibbq-connection-text::after {
  content: "Disconnected";
  color: red;
}

.probe-container>.row {
  background-color: #ddd;
  height: 150px;
}

.probe-idx .dot {
  color: #fff;
  width: 24px;
  height: 24px;
  text-align: center;
  background-color: #000;
}

.probe-container:nth-child(1) .probe-idx .dot {
  background-color: #357bcc;
}
.probe-container:nth-child(2) .probe-idx .dot {
  background-color: #32a852;
}
.probe-container:nth-child(3) .probe-idx .dot {
  background-color: #d4872a;
}
.probe-container:nth-child(4) .probe-idx .dot {
  background-color: #bdb320;
}

.probe-temp {
  font-family: 'Digital-7';
  line-height: 1.2;
  text-align: center;
}
.probe-temp-current {
  font-size: 5em;
}
.probe-temp-target {
  font-size: 2em;
  font-style: italic;
}

.probe-settings {
  font-size: 36px;
  text-align: right;
}

.toggle {
  width: 150px !important;
}

/*
 * Battery Indicator
 */
.bi::before {
  transform: rotate(270deg);
}

/*
 * Bootstrap customizations
 */
.nav-tabs {
  border-bottom: none;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #000;
  font-weight: bold;
}

.nav-tabs .nav-link:hover {
  border-color: transparent;
}
